.baikhac {
  padding: 15px 4px 15px 4px;
  &:hover {
    cursor: pointer;
  }
}

.empty {
  box-shadow: 2px 2px 3px #007bffb3;
  border-radius: 10px;
  align-items: center;
  width: 5px;
  height: 25px;
  background-color: blue;
  margin-right:5px;
}

.ctg {
  display: flex;
  padding: 15px 4px 15px 4px;
  &:hover {
    cursor: pointer;
    color: rgb(132, 132, 218);
  }
}