.empty {
  box-shadow: 2px 2px 3px #007bffb3;
  border-radius: 10px;
  align-items: center;
  width: 5px;
  height: 25px;
  background-color: blue;
  margin-right:5px;
}

.thumbnail {
  width: 100%;
  height: 170px;
  img {
    width: 100%;
    height: 100%;
    border-top-left-radius: 4px;
    border-top-right-radius: 4px;
  }
}

.menus {
  margin-top: 15px;
  width: 100%;
  display: grid;
  grid-template-columns: 1fr 1fr;
  grid-gap: 5px;
  .mn_btn {
    border-radius: 4px;
    text-align: center;
    color: #fff;
    text-transform: uppercase;
    padding: 8px 0;
    background: #3b98fc;
    border: 1px solid #3b98fc;
    &:hover {
      cursor: pointer;
      background: #007bff;
      border: 1px solid #007bff;
      transition: .3s ease-in-out;
    }
  }
}

.info {
  margin-top: 15px;
  .info_header {
    display: flex;
    align-items: center;
    p {
      font-weight: 600;
      color: #000;
      font-size: 21px;
    }
  }
  .info_main {
    border-radius: 10px;
    border: 1px solid hsla(0,0%,50%,.486);
    margin-top: 10px;
    padding: 10px;
    div {
      margin-left: 5px;
      strong {
        font-weight: 500;
      }
      ul {
        margin-left: 30px;
        li {
          font-weight: 350;
        }
      }
    }
  }
}

.schedules {
  margin-top: 15px;
}

.schedules_header {
  display: flex;
  align-items: center;
  .header_right {
    align-items: center;
    width: 100%;
    display: flex;
    justify-content: space-between;
  }
  p {
    font-weight: 600;
    color: #000;
    font-size: 21px;
  }
}

.accordion {
  margin-top: 10px;
}

.test {
  margin: 10px 0;
  align-items: center;
  width: 100%;
  display: flex;
  &:hover {
    cursor: pointer;
  }
  .isFree {
    width: 70px;
  }
  .test_info {
    width: 100%;
    display: flex;
    justify-content: space-between;
  }
  .test_action {
    border: 3px solid #fff;
    border-radius: 50%;
    i {
      padding: 5px;
    }
  }
}

.rating {
  margin-top: 15px;
  padding: 10px;
  padding-bottom: 20px;
  border-radius: 5px;
  border: 1px solid hsla(0,0%,50%,.486);
  .rating_header {
    display: flex;
    align-items: center;
    p {
      font-weight: 600;
      color: #000;
      font-size: 21px;
    }
  }
}

.main_rating {
  margin-top: 10px;
  display: grid;
  grid-template-columns: repeat(3, 1fr);
  grid-gap: 10px;
  .left {
    text-align: center;
  }
  .right{
    margin-right: 10px;
    .start {
      margin: 6px 0;
      display: flex;
      justify-content: flex-end;
    }
  }
}