.wrapper {
  width: 65%;
  margin: 0 auto;
}

.header {
  font-weight: bold;
  font-size: 20px;
}

.action {
  width: 100%;
  text-align: center;
  .act_btn {
    box-shadow: inset 0 -4.5px 0 0 rgb(0 0 0 / 25%);
    cursor: pointer;
    color: #fff;
    width: 100%;
    background-color: #0080ff;
    border: none;
    border-radius: 9px;
  }
}