.table {
  text-align: left;
  width: 100%;
  border-spacing:0;
}

.header {
  padding: 10px 15px;
  display: flex;
  justify-content: space-between;
  .header_right_action > * {
    margin: 0 2.5px;
  }
}

.table_menu {
  height: 45px;
  background: #d1d4dc;
  color: #525b73;
}

.even {
  background: #f6f7f8;
}

.opstionBtn {
  padding: 5px;
  margin-right: 20px;
  cursor: pointer;
  &:hover {
    background: #d1d4dc;
    border-radius: 50%;
  }
}

.item_btn {
  text-align: end;
}
