.header {
  display: grid;
  grid-template-columns: 1fr 2fr 1fr;
  background: #fff;
  border-bottom: 0.5px solid rgb(230, 221, 221);
  width: 100%;
  height: 55px;
}

.logo {
  text-align: right;
  cursor: pointer;
  img {
    width: 75px;
    height: 55px;
  }
}

.infor {
  display: flex;
  align-items: center;
  img {
    cursor: pointer;
    margin: 0 6px 0 6px;
    width: 47px;
    height: 47px;
    border-radius: 50%;
  }
  i {
    cursor: pointer;
    margin: 0 6px 0 6px;
  } 
  p {
    cursor: pointer;
    margin: 0 6px 0 6px;
  }
}

.display {
  position: absolute;
  top: 55px;
  right: 10%;
  z-index: 1000;
  display: block;
  width: 200px;
  border: none;
  background: #fff;
  border-radius: 5px;
}

.unDisplay {
  display: none;
}

.menu {
  margin: 4px 0;
  cursor: pointer;
  .item {
    width: 100%;
    text-align: left;
    padding: 10px 0;
    padding-left: 5px;
    &:hover {
      background: #e9ecef;
    }
  }
}

.btn {
  &:hover {
    cursor: pointer;
  }
}
