* {
  margin: 0;
  padding: 0;
}

.p-input-icon-left > .p-inputtext {
  background: #fff;
  color: #000;
  border: 1px solid #ced4da;
  border-radius: 3px;
}

.p-input-icon-left > i:first-of-type, .p-input-icon-left > svg:first-of-type, .p-input-icon-left > .p-input-prefix {
  color: #000;
}

.p-accordion .p-accordion-tab .p-accordion-header .p-accordion-header-link {
  background: #007bffd3;
  color: #fff
}

.p-accordion .p-accordion-tab-active .p-accordion-header .p-accordion-header-link {
  background: #007bffd3;
  color: #fff
}

.p-accordion .p-accordion-tab .p-accordion-header .p-accordion-header-link:hover {
  background: #007bffd3;
  color: #fff
}

.p-progressbar {
  position: relative;
  background: #dee2e6;
  overflow: hidden;
  margin: 3px 0;
}

.AdminNav_wrapper__80guD .AdminNav_content__MpSOs {
  width: 100%;
}

.p-menubar {
  justify-content: space-around;
  background: #007aff;
  height: 100%;
  border: none;
  width: 100%;
  ul {
    width: 100%;
    display: flex;
    justify-content: center;
  }
}



.p-menubar-root-list li {
  margin: 0 4px;
  border-radius: 5px;
  &:hover {
    background: #64afff59;
    border-radius: 5px;
  }
}